body{
        background-color: #0B929E;
        font-size: 25px;
        padding: 1em;
        padding-top: 3em;
        font-family: "Roboto", "Arial", sans-serif;
        border: 40px solid #9E1364;
}
h1{
        font-size: 2em;
}
h4{
	font-size: 1.4em;
}
.image img{
        width: 100%;
}
.aboutGrid{
        display: grid;
        grid-template: auto auto / 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap:5px;
}

